---
import '@/globals.css'
import DragDropVideo from '@/components/drag-drop-video.tsx';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main >
    <h1 class="text-center text-3xl font-medium mb-10">Video Compress</h1>
    <DragDropVideo client:load/>
  </main>
</Layout>
